h1, h2, h3 {
    color: black;
}


/* Navigation Bar */
.navbar {
	background-color: #f8f9fa;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	font-weight: bold;
	color: #333;
}

.nav-link {
	font-weight: bold;
	color: #333;
}

/* Jumbotron */
/* Jumbotron */
/* Jumbotron */
.jumbotron {
    background-image: url("gif/bg.mp4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding: 150px 0;
    background-size: contain;
    background-position: center bottom;
    }


.jumbotron h1 {
	font-size: 5rem;
	margin-bottom: 1rem;
}

.jumbotron p {
	font-size: 2rem;
	margin-bottom: 2rem;
}

/* Server Status */
.container {
	margin-top: 50px;
}

.server-status {
	background-color: #f8f9fa;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.server-status h2 {
	margin-top: 0;
	font-size: 2rem;
}

.server-status p {
	margin-top: 1rem;
	font-size: 1.5rem;
}

/* Discord Widget */
.discord-widget {
	background-color: #7289da;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.discord-widget h2 {
	margin-top: 0;
	font-size: 2rem;
	color: #fff;
}

/* Footer */
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
	margin-bottom: 0;
}

